.auth__main {
    align-items: center;
    background-color: $primary;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    width: 100vw;
}

.auth__box-container {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 3px $dark-grey;
    padding: 20px;
    width: 250px;
}

.auth__title {
    text-align: center;
    color: darken($color: $primary, $amount: 30);
}

.auth__input {
    border: 0px;
    border-bottom: 1px solid $light-grey;
    border-radius: 5px;
    color: $dark-grey;
    font-size: 16px;
    height: 20px;
    margin-bottom: 10px;
    transition: border-bottom 0.3s ease;
    width: 100%;

    &:focus {
        border-bottom: 1.5px solid $primary;
        outline: none;
    }
}

.auth__social-networks {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0 20px 0;
    width: 100%;
}

.auth__alert-error {
    align-items: center;
    background-color: lighten($color: red, $amount: 35);
    border-left: 4px solid red;
    color: $dark-grey;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    min-height: 40px;
    padding: 5px 10px 5px 10px;
}
